name: Build documentation

on:
  push:
    paths:
    - 'docs/**'
    - 'README.md'

env:
  TITLE: Learn MonoGame
  DESCRIPTION: Documentation to learn MonoGame from the ground up.
  BASE: ~
  REPO: https://github.com/learn-monogame/learn-monogame.github.io/tree/main/
  ANALYTICS: G-9KP7VJY00K

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: Install apos-docs
      run: npm install apos-docs -g
    - name: Use apos-docs
      run: |
        apos-docs -t '${{ env.TITLE }}' -d '${{ env.DESCRIPTION }}' -b '${{ env.BASE }}' -r ${{ env.REPO }} -a ${{ env.ANALYTICS }}
        cd apos-docs
        npm i
        npm run build
        cd -
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./apos-docs/_site
